<img src="https://i.pinimg.com/originals/e6/9b/5e/e69b5ef0349fd2277256f1d2acbb5dec.png" alt="">
<h1>Burgers</h1>

<h2>Burgers that are not devoured!</h2>

<ul>
  {{#each burgers}}
    {{#unless devoured}}
    
      <h3>
        {{burger_name}}
      </h3>
      <button class="change-devoured" data-id={{id}}>Devour</button>

    {{/unless}}
  {{/each}}
</ul>

<h2>Burgers that are devoured!</h2>

<ul>
  {{#each burgers}}
    {{#if devoured}}
     <h3>
        {{burger_name}}
     </h3>
      <button class="delete-burger" data-id={{id}}>Delete</button>
    {{/if}}
  {{/each}}
</ul>

<h2>Add a Burger</h2>
{{!-- the action connects the form to the post route  and the method allows for the POST to work--}}
<form class="create-form" action="/api/burger" method="POST">

  <div class="form-group">
    <label for="ca">Burger Name:</label>
    <input type="text" id="ca" name="burger_name">
  </div>

  <button type="submit">Add Burger</button>
</form>